@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@*burada  ||||  proyekt içində olan bütün custom tagHelper ləri  əlavə edirik *@
       @* vvvv*@
@addTagHelper *,CustomTagHelper  

<a href="mailto:hcavid386@gmail.com">Email</a>
<email></email>