@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@*burada  ||||  proyekt içində olan bütün custom tagHelper ləri  əlavə edirik *@
       @* vvvv*@
@addTagHelper *,CustomTagHelper  

<a href="mailto:hcavid386@gmail.com">Email</a>
<br/>
<email a="abs" mail="mailto:hcavid386@gmail.com" display="Cavid Haciyev Email"></email>
<second-custom></second-custom>